<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8">
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Record</title>
</head>
   <body>
       {% if d %}
      <h1>Dear {{d}},  Sleep is like a cat: It only comes to you if you ignore it.</h1>
      {% endif %}
      {% if img_s %}
      <img src ="static/chart/{{img_s}}" \>
      {% endif %}
      <table border = 1>
         <thead>
            <td>RECORD</td>
         </thead>
         
         {% for row in rows %}
         <tr>
            <td>{{row["picName"]}}</td>  
         </tr>
         {% endfor %}      
      </table>
      
   <form method="POST" enctype="multipart/form-data">
       <h1>Enter the time you want to query:</h1>
      	<input type= "text" name ="picture name"  class="form-control"> 
      <button type="submit">Query</button>
      <br>
      {% if image %}
        <img  src="static/displayDB/{{image}}"   width="1100">
      {% endif %}
    </form>


   </body>
</html>