<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Flask示例</title>
</head>
   <body>

      <table border = 1>
         <thead>
            <td>改名</td>
            <td>地址</td>
            <td>城市</td>
            <td>編碼</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["user_id"]}}</td>
               <td>{{row["mouth_count"]}}</td>
               <td>{{row["sleep_count"]}}</td>
               <td>{{row['leave_count']}}</td>    
               <td>{{row['blink_count']}}</td>  
            </tr>
         {% endfor %}
      </table>

      <a href = "/">返回主頁</a>

   </body>
</html>