<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/user.css">
</head>
<body onload="show()">
   
    <div align="center"> 
    <font face="serif" size="20"><b>Let's start the journey:<b></b></font>
    </div>
    <div align="center"> 
    <p face="serif" size="4">Remember, sincerity is the key to success.</p>
    </div>
    <div align="center"> 
    <img src="{{ url_for('video') }}" width="1100px" style="display:block; margin:auto;"</img>
    </div> 
    <div align="center"> 
    <button class="btn" style="background-color:#4F4F4F;margin-top:20px" onclick="stop();closeMedia()">結束</button>
    <!--change for connect third page-->>
    <form action = "{{ url_for('index1') }}">
        <input type="submit" submit name="start" value="結束">
    </form> 
    </div> 
    
    
</body>
</html>